<div class="container mt-5 py-5">
    <h2 class="my-4 text-primary fw-semibold">Brands</h2>
    <div *ngIf="!brandsLoaded" class="text-center py-5">
            <app-loading></app-loading>
        </div>
    <div class="row g-3" *ngIf="brandsLoaded">
        @for (brand of allBrands; track $index) {
        <div class="col-6 col-md-4 col-lg-3 d-flex" (click)="goToBrandProds(brand._id, brand.name)">
            <div class="py-2  bg-white border rounded-3 w-100 h-100 d-flex flex-column">
                <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                    <img [src]="brand.image" class="img-fluid">
                </div>
            </div>
        </div>
        }
        <!-- @empty {
        <h4>No brands available.</h4>
        } -->
    </div>
</div>