.cat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.cat-item img {
    max-width: 100%;
    height: auto;
}

.brand-item {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brand-item img {
    max-height: 120px;
    object-fit: contain;
}

/* Force equal height for all carousel items */
::ng-deep .owl-carousel .owl-stage {
    display: flex !important;
    align-items: stretch !important;
}

::ng-deep .owl-carousel .owl-item {
    display: flex !important;
    align-items: stretch !important;
    height: auto !important;
}

::ng-deep .owl-carousel .owl-item > div {
    display: flex;
    width: 100%;
    height: 100%;
}