<div class="container mt-5 py-5">
    <h2 class="my-4 text-primary fw-semibold">Register Now</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <label class="fs-4 py-2" for="name">Name</label>
        <input type="text" class="form-control mb-3 fs-5" id="name" formControlName="name">
        @if (registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched) {
        <div class="alert alert-danger" role="alert">
            Name is required.
        </div>
        }
        @if (registerForm.get('name')?.hasError('minlength') ) {
        <div class="alert alert-danger" role="alert">
            Name should at least have 3 characters.
        </div>
        }
        @if (registerForm.get('name')?.hasError('maxlength')) {
        <div class="alert alert-danger" role="alert">
            Name should have at most 20 characters.
        </div>
        }
        <label class="fs-4 py-2" for="email">Email</label>
        <input type="email" class="form-control mb-3 fs-5" id="email" formControlName="email">
        @if (registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched) {
        <div class="alert alert-danger" role="alert">
            Email is required.
        </div>
        }
        @if (registerForm.get('email')?.hasError('email')) {
        <div class="alert alert-danger" role="alert">
            Enter a valid email.
        </div>
        }
        <label class="fs-4 py-2" for="password">Password</label>
        <input type="password" class="form-control mb-3 fs-5" id="password" formControlName="password">
        @if (registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched) {
        <div class="alert alert-danger" role="alert">
            Password is required.
        </div>
        }
        @if (registerForm.get('password')?.hasError('minlength') ) {
        <div class="alert alert-danger" role="alert">
            Password should be a minimum of 6 characters.
        </div>
        }
        <label class="fs-4 py-2" for="rePassword">Confirm Password</label>
        <input type="password" class="form-control mb-3 fs-5" id="rePassword" formControlName="rePassword">
        @if (registerForm.get('rePassword')?.hasError('required') && registerForm.get('rePassword')?.touched) {
        <div class="alert alert-danger" role="alert">
            Confirming the password is required.
        </div>
        }
        @if (registerForm.get('rePassword')?.hasError('mismatch')) {
        <div class="alert alert-danger" role="alert">
            Passwords don't match
        </div>
        }
        <label class="fs-4 py-2" for="phone">Phone</label>
        <input type="text" class="form-control mb-3 fs-5" id="phone" formControlName="phone">
        @if (registerForm.get('phone')?.hasError('required') && registerForm.get('phone')?.touched) {
        <div class="alert alert-danger" role="alert">
            Phone is required.
        </div>
        }
        @if (registerForm.get('phone')?.hasError('pattern')) {
        <div class="alert alert-danger" role="alert">
            Enter a valid phone number.
        </div>
        }
        <button class="btn btn-success d-block ms-auto fs-5">Register</button>
    </form>
</div>